<!DOCTYPE html> <!-- html 5.0 -->
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>

<body>
<h1 style="color: red">This is heading</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci aliquam animi doloremque earum eligendi in
    laudantium natus nesciunt nisi nobis pariatur provident quam quidem quisquam recusandae tempore, tenetur vitae.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta exercitationem officiis praesentium tenetur
    veritatis voluptates! Cumque eveniet hic in laborum minima minus, velit? A at labore, quo recusandae temporibus
    voluptatem!
</p>

<form method="POST">
    <label for="email">
        Email:
        <input id="email" name="email" type="email" placeholder="acb@gmail.com">
    </label>
    <br>
    <br>
    <br>
    <label for="pass">
        Password:
        <input id="pass" name="pass" type="password" placeholder="********">
    </label>
    <br>
    <br>
    <br>
    <button>Login</button>
</form>
</body>
</html>